.btn_principal
{
    border-color: #8B6F47;
    background-color: #5e4523;
}

.btn_principal:hover
{
    border-color: #8B6F47;
    background-color:#ad9066;
}

@media (max-width: 768px) {
    .btn_principal {
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .btn_principal {
        padding: 0.4rem 0.8rem;
        font-size: 0.85rem;
        width: 100%;
    }
}