.card-group
{
    display: flex;
    margin-bottom: 2rem;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.card
{
    display: flex;
    border: #8b6f47 1px solid;
}
.card-img
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 350px;
}

.title_card
{
    text-align: center;
    line-height: 10%;
    font-weight: bold;
    color: #5e4523;
}

.card .description
{
    text-align: justify;
    font-size: 1rem;
    color: #252525;
    margin-top: 1rem;
}

.card .text-muted
{
    display: block;
    text-align: center;
}
@media (max-width: 768px) {
    .card-group
    {
        flex-direction: column;
        width: 100%;
        padding: 0 1rem;
    }

    .card-img
    {
        height: 250px;
        width: 100%;
    }

    .title_card
    {
        font-size: 1.1rem;
    }

    .card .description
    {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .card-group
    {
        flex-direction: column;
        width: 100%;
        padding: 0 0.5rem;
        margin-bottom: 1rem;
    }

    .card
    {
        display: flex;
        flex-direction: column;
    }

    .card-img
    {
        height: 200px;
        width: 100%;
    }

    .title_card
    {
        font-size: 1rem;
    }

    .card .description
    {
        font-size: 0.85rem;
    }
}