.carrossel_estudos
{
    width: 50%;
    margin: auto;
    border: 2px solid #5e4523;
}

.carrossel_estudos h3
{
    text-align: center;
    margin-top: 0.5rem;
    color: white;
}

.imagem {
    width: 100%;
    height: 800px;         
    object-fit: cover;      
    object-position: center;
}
