.contato_sessao
{
    background-color: #fffeee;
    padding: 50px 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.container_contato
{
    max-width: 1200px;
    margin: 4rem auto;
    width: 100%;
    text-align: center;
    gap: 3rem;
}

.container_contato h3
{
    font-size: 4rem;
    margin-bottom: 20px;
    color: #8B6F47;
}

.container_contato h3 span
{
    font-size: 4rem;
    margin-bottom: 20px;
    color: #5e4523;
}

.container_contato p
{
    font-size: 2rem;
    margin-bottom: 20px;
    color: black;
}

.nav-pills .nav-link.active {
    background-color: #8B6F47; 
    color: #fffeee;            
}

.nav-pills .nav-link {
    color: #5E4523;
}

.nav-pills .nav-link:hover {
    background-color: rgba(139, 111, 71, 0.2);
    color: #5E4523;
}

.btn
{
    background-color: #8B6F47;
    color: #fffeee;
    border: 2px solid #8B6F47;
}

.btn:hover
{
    background-color: #5e4523;
    border: 2px solid #5e4523;
    color: #fffeee;
}

.card_contato
{
    max-width: 45rem;
    margin: 2rem auto;
}

.image
{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
