.footer_content
{
  background-color: #fffbce;
  text-align: center;
  padding: 0.3rem 0;
  font-size: 0.9rem;
  color: #555;
}

.footer_content a
{
  color: #555;
  text-decoration: none;
  margin: 0 0.5rem;
}

.footer_content a:hover
{
  text-decoration: underline;
}

.footer_content .desenvolvimento
{
  text-align: end;
  margin: 0 auto;
  font-size: 0.8rem;
  color: #777;
}

.footer_content p
{
  margin: 0rem 0;
  margin-top: 1rem;
}